/* implementaciones */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
/* Estructura componentes importantes */
body {
    font-family: 'Roboto', sans-serif;
}
/* Barrade navegación */
#barra {
    background: #221359;
}

.logo {
    font-family: 'Teko', sans-serif;
    color: #ef011f;
}

#search {
    background: #4d4373;
    border: #221359;
    border-radius: 20px;
    color: white;
}

#search::placeholder {
    color: rgb(175, 175, 175);
}
footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}