<div class="container">
  <div class="contenido mt-3">
    <div class="card">
      <div class="card-body" id="carta">
        <h4 class="text-center card-title">Login Form</h4>
        <p class="text-center card-text">
          Bienvenido a nuestra aplicación.
          <br />
          Para poder ver todo el contenido como cliente primero tienes que
          registrarte o iniciar sesión
        </p>
        <form class="text-center">
          <div class="row">
            <div class="col-md-6 col-xxl-6 text-start">
              <label for="" class="form-label">Email o nickname</label>
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Nickname o Email"
              />
            </div>
            <div class="col-md-6 col-xxl-6 text-start">
              <label for="" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="pass"
                placeholder="Escribe aquí la contraseña"
              />
            </div>
          </div>
          <br />
          <div class="form-check text-start" id="recuerda">
            <input id="formCheck-1" class="form-check-input" type="checkbox" />
            <label class="form-check-label" for="formCheck-1"
              >Recordar información</label
            >
          </div>
          <button class="btn btn-primary" type="button">Log in</button>
        </form>
        <p class="text-center">
          Aun no tienes cuenta?
          <br />
          <a routerLink="registro">Regístrate aquí</a>
        </p>
      </div>
    </div>
  </div>
</div>
