<div class="container-fluid">
  <div class="container">
    <div class="row card mt-3">
      <div class="col-4">
        <div class="imagen">
          <div class="img">
            <img
              src="{{ muestraimagen }}"
              alt="muestra"
              width="100%"
              height="100%"
            />
          </div>
        </div>
      </div>
      <div class="col-8 der">
        <h4>{{data.original_title}}</h4>
        <p>{{ data.overview }}</p>
        <div class="boton">
          <button type="submit">Favorito</button>
        </div>
      </div>
    </div>
  </div>
</div>
