<div class="container mt-3">
  <div class="row">
    <div class="col-2">
      <div class="usabilidad">
        <p>Configuraciones.</p>
        <ul>
          <li><button type="submit" class="btn btn-warning">Ver favoritos</button></li>
          <br>
          <li><button type="submit" class="btn btn-warning">Comentarios</button></li>
        </ul>
      </div>
    </div>
    <div class="col-10">
      <div class="agregar">
        <div class="imagenes">
          <h3>Aqui podrás ver todas las peliculas que quieres ver</h3>
        </div>
      </div>
    </div>
  </div>
</div>