<div class="container-fluid">
  <div class="formulario">
    <div class="card">
      <h2 class="text-center">Formulario de registro</h2>
      <p class="text-center">Saca el máximo partido a esta web!</p>
      <div class="card-body">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="formId1" id="formId1" placeholder="" />
          <label for="formId1">Nombre</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="formId2" id="formId2" placeholder="" />
          <label for="formId2">Apellido</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="nickname" id="nickname" placeholder="" />
          <label for="nickname">Nick</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="email" id="email" placeholder="" />
          <label for="email">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" name="passwords" id="passwords" placeholder="" />
          <label for="passwords">Pasword</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" name="passwords2" id="passwords2" placeholder="" />
          <label for="passwords2">Repeat Pasword</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="" />
          <label class="form-check-label" for="">
            Aceptar terminos y condiciones
          </label>
        </div>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-primary">Registrarse</button>
        <p class="text-center">
          <a routerLink="/login">Ya tienes cuenta ?</a>
        </p>
      </div>
    </div>
  </div>
</div>